In [48]:
import pandas as pd
import numpy as np

This is sample code for the stackoverflow question: https://stackoverflow.com/questions/49291317/aggregate-over-two-columns-in-pandas

In this example, the limits for weight and volume are 15 and 20.

In [49]:
df=pd.DataFrame({'Cluster': 0, 'Volume': np.arange(10, 1, -1), 'Weight': np.arange(1, 10, 1)})

In [50]:
cluster=1
accum_w=0
accum_v=0
for i in range(0, len(df)):
    v=df.iloc[i, 1]
    w=df.iloc[i, 2]
    
    if (accum_v + v>15 or accum_w + w>20):
        cluster+=1
        accum_v=0
        accum_w=0
    
    accum_v+=v
    accum_w+=w
    df.iloc[i, 0]=cluster

In [52]:
df

   Cluster  Volume  Weight
0        1      10       1
1        2       9       2
2        3       8       3
3        3       7       4
4        4       6       5
5        4       5       6
6        4       4       7
7        5       3       8
8        5       2       9

In [51]:
#the limits are not exceeded
df.groupby("Cluster").sum()

         Volume  Weight
Cluster
1            10       1
2             9       2
3            15       7
4            15      18
5             5      17